@import "../../variables.scss";

.post-likes {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    padding-left: 1em;
    padding-bottom: 1em;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .liked-picture {
        width: 25px;
        height: 25px;
        margin-right: 1em;
    }

    .description {
        font-weight: 500;
        .muted {
            opacity: 50%;
        }
    }
}