.suggested-profiles {
    margin-top: 3em;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .suggestion{
            opacity: 50%;
        }
    }
}