@import './variables.scss';


.App {
  min-height: 100vh;
  background-color: $background-color;


  .App-header {
    background-color: $primary-color;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    border-bottom: 1px solid $border-color;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    .logo {
      font-family: 'Allison', cursive;
      font-size: 2.5em;
    }
  }

  .content-container{
    margin-top: 68px;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    display: flex;
    justify-content: space-between;

    div {
      width: 50%;
      &.sidebar {
        background-color: red;
      }
      &.feed {
        background-color: blue;
      }
    }

  }
}