@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img.rounded {
  border-radius: 50%;

  &.unread {
    border: 3px solid #ce4937;
  }
}

a {
  color: #60a4d8;
  text-decoration: none;
}